@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poppins-Regular.eot') format('eot'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-Regular.eot') format('eot'),
  url('../fonts/Ubuntu-Regular.woff') format('woff'),
  url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
  url('../fonts/Ubuntu-Regular.svg') format('svg');
}

@font-face {
  font-family: 'templateocean-font';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/templateocean-font.eot') format('eot'),
  url('../fonts/templateocean-font.woff') format('woff'),
  url('../fonts/templateocean-font.ttf') format('truetype'),
  url('../fonts/templateocean-font.svg') format('svg');
}